/* Color theme : blue #0065FC - lighter blue #DEEBFF - grey #F2F2F2 */

body {
	font-family: 'Raleway', Arial, Helvetica, sans-serif;
}

body ul{
	list-style-type: none;
}

header{
	justify-content: space-between;
	display: flex;
}

.logo{
	width: auto;
	height: 2.5em;
}

.navbar{
	display: flex;
}

.navbar li{
	display: inline-block;
}

.navbar a {
    text-decoration: none;
	color: #0065FC;
	border-bottom: 3px solid transparent;
}

.navbar a:hover{
	border-bottom: 3px solid #0065FC;
}